.block1 {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    transition: background-color 4s, width 5s, height 2s;
}


/* transition: all 2s, cubic-bezier(0, 1.06, 0.96, 0.99); eta dile aager moto sob gula specific babe likte hoya lage na*/


/* "ease-out" Use korle Transaction kaj kore na...*/


/* Transaction e hover must use kora lage....Transation er moddome slow motion er moto kaj korano jai....mouse er karsor element er upor dorle bujte para jai */

.block1:hover {
    background-color: rgb(226, 95, 43);
    height: 300px;
    width: 400px;
}